<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trenton Finley - ITIS3135 - Project Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="scripts/project.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="styles/project.css">
    
</head>
<body>
    <header>
        <h1><span class="material-symbols-outlined">public</span>Web Application Learning</h1>
        <nav class = "nav">
            <ul>
                <li><a href="/itis3135/project/index.html">HOME</a></li>
                
                <li> <a href="/itis3135/project/html.html">HTML</a></li>
                
                <li><a href="/itis3135/project/css.html">CSS</a></li>
                
                <li><a href="/itis3135/project/javascript.html">JAVASCRIPT</a></li>
                
            </ul>
        </nav>
    </header>
    <script src="script/HTMLInclude.min.js"></script>
</body>
</html>